@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

#label-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(1, 68, 82);
  background: linear-gradient(
    90deg,
    rgba(1, 68, 82, 1) 0%,
    rgba(200, 245, 120, 1) 26%,
    rgba(141, 221, 126, 1) 70%,
    rgba(1, 68, 82, 1) 100%
  );
}
#label-search-container > h1 {
  color: rgb(255, 255, 255);
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#label-search-container:hover {
  cursor: pointer;
}

input {
  margin-bottom: 1.5rem;
  height: 2rem;
  width: 60vw;
  border: 1px solid rgb(255, 83, 126);
  box-shadow: 0 0 0 3px rgba(35, 204, 255, 0.5);
  padding: 15px 15px;
  transition: 100ms ease-in-out;
}
input:focus {
  color: none;
  background-color: none;
  box-shadow: 0 0 0 3px rgba(35, 204, 255, 0.5);
  border: none;
}
input:hover {
  transform: scale(1.01);
}
